* {
  margin: 0;
  padding: 0;
}

.MainAreaBox {
  padding: 4rem;
  height: 100vh;
  background-color: #eee0bf;
}
.MainAreaBox,
.temperature__form,
.temperature__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.temperature__form span {
  font-weight: 100;
}

.temperature__input {
  padding: .6rem;
  border-radius: 5px;
  border: #a2a09e solid 1px;
  width: 60%;
}

.submit__button {
  background-color: #439bd6;
  padding: .6rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.temperature__container,
.attempt {
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #c9c4ba;
}

.attempts__container {
  display: flex;
  gap: 1rem;
}

.attempt {
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}
